{% extends "layout.html" %}

{% block title %}
    Add Some Objects
{% endblock %}


{% block main %}
  <h2>Enter a Game</h1>
  <form action="/add_league" method="post">
    <label for="league_name_input">League Name</label>
      <input type="text" name="league_name" id="league_name_input"/>
   </form>

    <label for="division_select">Division</label>
  	<select id="division_select">
	  {% for division in divisions %}
    	<option value="{{ division["id"] }}">{{ division["name"] }}</div>
	  {% endfor %}
	  </select>
    <br/>
    <label for="team_1_select_container">Team 1</label>
	<select id="team_1_select" name="team1_id">
  	  {% for league in leagues %}
      		<option value="{{ league["id"] }}">{{ league["name"] }}</div>
	  {% endfor %}

        </select>
    <br/>
    <label for="team_1_points_input">Team 1 Points</label>
	<input id="team_1_points_input" type="text" name="team1_points">
    <br/>
    <label for="team_1_expulsions_input">Team 1 Expulsions</label>
	<input id="team_1_expulsions_input" type="text" name="team1_expulsions">
    <br/>
    <label for="team_2_select_container">Team 2</label>
	<select id="team_2_select" name="team2_id">
  	  {% for league in leagues %}
      		<option value="{{ league["id"] }}">{{ league["name"] }}</div>
	  {% endfor %}
        </select>
    <br/>
    <label for="team_2_points_input">Team 2 Points</label>
	<input id="team_2_points_input" type="text" name="team2_points">
    <br/>
    <label for="team_2_expulsions_input">Team 2 Expulsions</label>
	<input id="team_2_expulsions_input" type="text" name="team2_expulsions">
    <br/>
    <input type="submit"/>
  </form>
{% endblock %}
