{% extends "layout.html" %}

{% block title %}
    Add Some Objects
{% endblock %}


{% block main %}
  {{message}}
  <h2>Add a League</h1>
  <form action="/add_league" method="post">
    <label for="league_name_input">League Name</label>
      <input type="text" name="league_name" id="league_name_input"/>
      <input type="submit"/>
  </form>
  <hr/>
  <h2>Add a Team</h2>
  <form action="/add_team" method="post">
    <label for="league_id">League</label>
    <select id="team_league_select" name="league_id">
       {% for league in leagues %}
         <option value="{{ league["id"] }}">{{ league["name"] }}</div>
       {% endfor %}
    </select>
    <br/>
    <label for="division_id">Division</label>
    <select id="team_division_select" name="division_id">
       {% for division in divisions %}
         <option value="{{ division["id"] }}">{{ division["name"] }}</div>
       {% endfor %}
    </select>
    <br/>
    <input type="submit"/>
  </form>
{% endblock %}
