{% extends "layout.html" %}

{% block title %}
    Add Some Objects
{% endblock %}
{% block main %}
  {{message}}
  <h2>Add a League</h1>
  <form action="/add_league" method="post">
    <label for="league_name_input">League Name</label>
      <input type="text" name="league_name" id="league_name_input" class="form-control"/>
      <input type="submit" class="btn btn-primary"/>
  </form>
  <hr/>
  <h2>Add a Team</h2>
  <form action="/add_team" method="post">
    <label for="league_id">League</label>
    <select id="team_league_select" name="league_id" class="form-control">
       {% for league in leagues %}
         <option value="{{ league["id"] }}">{{ league["name"] }}</div>
       {% endfor %}
    </select>
    <br/>
    <label for="division_id">Division</label>
    <select id="team_division_select" name="division_id" class="form-control">
       {% for division in divisions %}
         <option value="{{ division["id"] }}">{{ division["name"] }}</div>
       {% endfor %}
    </select>
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
    <br/>
    <input type="submit" class="btn btn-primary"/>
  </form>
  <hr/>
  <h2>Teams By League</h2>
    {% for league in teams_by_league %}
         <h3>{{league}}</h3>
         {% for division in teams_by_league[league] %}
            <h4 class="text-left">{{division}}</h4>
            <ul class="text-left list-group">
              {% for team in teams_by_league[league][division] %}
		<a href="/team?id={{team["id"]}}"<li class="list-group-item">{{team["name"]}}</li></a>
              {% endfor %}
            </ul>
         {% endfor %}
    {% endfor %}
{% endblock %}
