{% extends "layout.html" %}

{% block title %}
    Rankings
{% endblock %}

{% block main %}
    {{ batch }}
    {% for division_name in division_group_rankings %}
	<div style="display: inline-block">
	<h2>{{ division_name }}</h2>
	<table class="table table-striped">
	{% for league in division_group_rankings[division_name] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ league["league"] }}</td>
			<td>{{ league["rp_average"]}}</td>
		</tr>			
	{% endfor %}
	</table>
	</div>
    {% endfor %}
{% endblock %}
