{% extends "layout.html" %}

{% block title %}
    Enter a Game
{% endblock %}


{% block head %}
  {{ super() }}
    <script src="/static/js/enter.js"></script>
{% endblock %}

{% block main %}
  <script type="text/template" id="leagues_select_menu_template">
  		<% for (var i in leagues) { %>
			<option value="<%= leagues[i]["team_id"]%>"><%= leagues[i]["name"] %></option>
  		<% } %>
  </script>
  <h1>Enter a Game</h1>
  <form action="/enter" method="post">
    <label for="game_date_input">Game Date</label>
      <input type="date" name="game_date" id="game_date_input"/>
    <label for="game_type_select">Game Type</label>
  	<select id="game_type_select" name="game_type_id">
	  {% for game_type in game_types %}
    	<option value="{{ game_type["id"] }}">{{ game_type["game_type"] }}</div>
	  {% endfor %}
	  </select>
    <br/>
    <label for="division_select">Division</label>
  	<select id="division_select">
	  {% for division in divisions %}
    	<option value="{{ division["id"] }}">{{ division["name"] }}</div>
	  {% endfor %}
	  </select>
    <br/>
    <label for="team_1_select_container">Team 1</label>
	<select id="team_1_select" name="team1_id">
  	  {% for league in leagues %}
      		<option value="{{ league["id"] }}">{{ league["name"] }}</div>
	  {% endfor %}

        </select>
    <br/>
    <label for="team_1_points_input">Team 1 Points</label>
	<input id="team_1_points_input" type="text" name="team1_points">
    <br/>
    <label for="team_1_expulsions_input">Team 1 Expulsions</label>
	<input id="team_1_expulsions_input" type="text" name="team1_expulsions">
    <br/>
    <label for="team_2_select_container">Team 2</label>
	<select id="team_2_select" name="team2_id">
  	  {% for league in leagues %}
      		<option value="{{ league["id"] }}">{{ league["name"] }}</div>
	  {% endfor %}
        </select>
    <br/>
    <label for="team_2_points_input">Team 2 Points</label>
	<input id="team_2_points_input" type="text" name="team2_points">
    <br/>
    <label for="team_2_expulsions_input">Team 2 Expulsions</label>
	<input id="team_2_expulsions_input" type="text" name="team2_expulsions">
    <br/>
    <input type="submit"/>
  </form>
{% endblock %}
