{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{{game}}

{% block main %}
 <h1><a href="/team?id={{game["team1_id"]}}">{{game["team1_name"]}} ({{game["team1_league"]}})</a>
    vs. <a href="/team?id={{game["team2_id"]}}">{{game["team2_name"]}} ({{game["team2_league"]}})</a></h1>
 <h2>{{game["division"]}} Division, {{game["game_type"]}}</h2>
 <h3>{{game["game_date"]}}</h3>
 <table class="table table-striped">
   <tr>
     <th></th>
     <th>{{game["team1_name"]}}</th>
     <th>{{game["team2_name"]}}</th>
   </tr>
   <tr>
     <td>Points</td>
     <td>{{game["team1_points"]}}</td>
     <td>{{game["team2_points"]}}</td>
   </tr>
   <tr>
     <td>Expulsions</td>
     <td>{{game["team1_expulsions"]}}</td>
     <td>{{game["team2_expulsions"]}}</td>
   </tr>
   {% for ranking_point in game["ranking_points"] %}
   <tr>
     <td>{{ranking_point["name"]}} Ranking Points</td>
     <td>{{ranking_point["team1_ranking_points"]}}</td>
     <td>{{ranking_point["team2_ranking_points"]}}</td>
   </tr>
   {% endfor %}
 </table>
 <form action="/delete_game" method="post">
   <input type="hidden" name="game_id" value="{{game["game_id"]}}"/>
   <input type="submit" class="btn btn-danger" value="Delete this game" />
 </form>
 <hr/>
 <footer>
 <i>Game created by <tt>{{game["username"]}}</tt> on {{game["entered_date"]}}</i>
 </footer>
{% endblock %}
