{% extends "layout.html" %}

{% block title %}
    Games
{% endblock %}

{% block main %}
<h1>Games</h1>
<form action="/games" method="get">
<label for="division_select">Division</label>
<select name="division_id" id="division_select">
    <option value=""></option>
  {% for division in divisions %}
    <option value="{{division["id"]}}" {{"selected" if division_id == division["id"] else ""}}>{{division["name"]}}</option>
  {% endfor %}
</select>
<label for="league1_select">With League</label>
<select name="league1_id" id="league1_select">
  <option value=""></option>
  {% for league in leagues %}
    <option value="{{league["id"]}}" {{"selected" if league1_id == league["id"] else ""}}>{{league["name"]}}</option>
  {% endfor %}
</select>
<label for="league2_select">and also this League</label>
<select name="league2_id" id="league2_select">
  <option value=""></option>
  {% for league in leagues %}
    <option value="{{league["id"]}}" {{"selected" if league2_id == league["id"] else ""}}>{{league["name"]}}</option>
  {% endfor %}
</select>
<input type="submit" value="Filter"/>
</form>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Division</th>
    <th>League</th>
    <th>Team 1 Name</th>
    <th>League</th>
    <th>Team 2 Name</th>
    <th>Team 1 Points</th>
    <th>Team 2 Points</th>
  </tr>

  {% for game in games %}
    <tr>
      <td>{{game["game_date"]}}</td>
      <td>{{game["game_type"]}}</td>
      <td>{{game["division"]}}</td>
      <td>{{game["team1_league"]}}</td>
      <td>{{game["team1_name"]}}</td>
      <td>{{game["team2_league"]}}</td>
      <td>{{game["team2_name"]}}</td>
      <td>{{game["team1_points"]}}</td>
      <td>{{game["team2_points"]}}</td>
      <td><a href="/game?id={{game["game_id"]}}"><button>More</button></a></td>
    </tr>
    </a>
  {% endfor %}
</table>
{% endblock %}
