{% extends "layout.html" %}

{% block title %}
	JRDA Home
{% endblock %}

{% block main %}
	<h1>
		<a href="/add">
		Teams & Leagues
		</a>
	</h1>
	<h1>
		<a href="/games">
		Game Search
		</a>
	</h1>
	<h1>
		<a href="/enter">
		Enter a Game
		</a>
	</h1>
	<h1>
		<a href="/rankings">
		Rankings
		</a>
	</h1>
	<h1>
		<a href="/strengths">
		Strengths
		</a>
	</h1>
	<h1>
		<a href="/sr_batches">
		Manage Statistics Batches
		</a>
	</h1>
	<h1>
		<a href="/groups">
		Groups
		</a>
	</h1>
	<h1>
		<a href="/recalculate">
		Recalculate Strengths
		</a>
	</h1>
	<h1>
		<a href="/users">
		Users
		</a>
	</h1>
{% endblock %}
