{% extends "layout.html" %}

{% block title %}
    Rankings
{% endblock %}

{% block main %}
    <form action="/rankings" method="get">
        <div class="form-group">
		    <label for="start_date_input">Start Date</label>
	        <input type="date" name="start_date" id="start_date_input" value="{{start_date}}"/>

		    <label for="end_date_input">End Date</label>
	        <input type="date" name="end_date" id="end_date_input" value="{{end_date}}"/>	        


		    <label for="group_select">Group</label>
		  	<select id="group_select" name="group_id" value="{{group_id}}">
	  		{% for id in group_names %}
		    	<option value="{{ id}}">{{ group_names[id] }}</option>
	  		{% endfor %}
	    	</select>
        </div>
        <button class="btn btn-primary" type="submit">Calculate</button>
    </form>
    {% for division_name in division_group_rankings %}
	<div style="display: inline-block">
	<h2>{{ division_name }}</h2>
	<table class="table table-striped">
	{% for league in division_group_rankings[division_name] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ league["league"] }}</td>
			<td>{{ league["rp_average"]}}</td>
		</tr>			
	{% endfor %}
	</table>
	</div>
    {% endfor %}
{% endblock %}
