{% extends "layout.html" %}

{% block title %}
    Rankings
{% endblock %}

{% block main %}
    <form action="/recalculate" method="post">
        <div class="form-group">
		<label for="start_date_input">Start Date</label>
	        <input type="date" name="start_date" id="start_date_input"/>
		<br/>
		<label for="end_date_input">End Date</label>
	        <input type="date" name="end_date" id="end_date_input"/>	        
		<br/>
		<label for="rankings_start_date_input">Rankings Start Date</label>
	        <input type="date" name="rankings_start_date" id="start_date_input"/>
		<br/>
		<label for="rankings_end_date_input">Rankings End Date</label>
	        <input type="date" name="rankings_end_date" id="end_date_input"/>	        
		<br/>
		<label for="strength_ratings_memo_input">Short Memorable Note</label>
	        <input type="text" name="strength_rating_memo" id="strength_ratings_memo_input"/>
        </div>
        <button class="btn btn-primary" type="submit">Recalculate strengths</button>
     </form>
{% endblock %}
