{% extends "layout.html" %}

{% block title %}
    Rankings
{% endblock %}

{% block main %}
    <h1>Strengths</h1>
    <form action="/strengths" method="get">
        <div class="form-group">
		    <label for="group_select">Group</label>
		  	<select id="group_select" name="group_id">
	  		{% for id in group_names %}
		    	<option value="{{ id}}" {{"selected" if id == grp_id else ""}}>{{ group_names[id] }}</option>
	  		{% endfor %}
	    	</select>
		    <label for="batch_select">Batch</label>

		  	<select id="batch_select" name="batch_id">
	  		{% for id in batch_names %}
		    	<option value="{{ id}}" {{"selected" if id == batch_id else ""}}>{{ batch_names[id] }}</option>
	  		{% endfor %}
	    	</select>
        <button class="btn btn-primary" type="submit">Display</button>

        </div>
    </form>
    {% for division_name in division_group_strengths %}
	<div style="display: inline-block">
	<h2>{{ division_name }}</h2>
	<table class="table table-striped">
	{% for team in division_group_strengths[division_name] %}
		<tr>
			<td>{{ team["name"]}} ({{team["league"]}})</td>
			<td>{{ team["strength_rating"]}}</td>
		</tr>			
	{% endfor %}
	</table>
	</div>
    {% endfor %}
{% endblock %}
