{% extends "layout.html" %}

{% block title %}
	Team
{% endblock %}

{% block main %}
    <h1>{{team["league"]}}</h1>
    <h2>Division: {{team["division"]}}</h2>
    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span6">
    <h3>Strength Ratings</h3>
    <table class="table table-striped">
    	<tr>
    		<th>Group</th>
    		<th>Current Strength Rating</th>
    	</tr>
  		{% for strength_rating in team["strength_ratings"] %}
    		<tr>
    			<td>{{strength_rating["name"]}}</td>
    			<td>{{strength_rating["strength_rating"]}}</td>
    		</tr>
  		{% endfor %}

    </table>
    </div>
    <div class="span6">
    <h3>Recent Games</h3>
    <table class="table table-striped">
    	<tr>
    		<th>Date</th>
		<th>Team 1</th>
		<th>Team 2</th>
		<th>more?...</th>
    	</tr>
  		{% for game in team["games"] %}
    		<tr>
    			<td>{{game["game_date"]}}</td>
			<td>{{game["l1_name"]}}</td>
			<td>{{game["l2_name"]}}</td>
			<td><a href="/game?id={{game["game_id"]}}"><button>More</button></a></td>
    		</tr>
  		{% endfor %}

    </table>

    </div>
    </div>
    </div>

    {{team}}
{% endblock %}
